:root {

  --main-color: #036b52;

  --logout: #056cf9;

  --user: #320d88;

  --selected: #2fc18c;
}

.navbar_bg {
  background: var(--main-color);
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  left: 0%;
  right: 0%;
  top: 0.01px;
}

.logout {
  background-color: var(--logout);
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 26px;
  height: 75px;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

.customer {
  background-color: var(--user);
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 26px;
  height: 75px;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

.selected {
  background-color: var(--selected);
  border: 0;
  border-radius: 0;
  color: black;
  font-size: 26px;
  height: 75px;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

.no_selected {
  background-color: var(--main-color);
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 26px;
  height: 75px;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

.no_selected:hover, .selected:hover, .logout:hover, .customer:hover {
  border: 2px solid white;
  cursor: pointer;
  height: 71px;
  min-width: 196px;
}
