:root {

  --main-color: #036B52;

  --logout: #056CF9;

  --user: #320d88;

  --selected: #2FC18C;
}

.product_card {
  width: 200px;
  position: relative;
  /* height: 486px; */
  border: 1px solid #B1C2BE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product_price {
  top: 10px;
  left: 10px;
  width: auto;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  align-items: center;
  border-radius: 7px;
  /* text-indent: 15px; */
  background-color: #f2fffc4a;
  /* opacity: 0.25; */
}

.product_price span{
  padding: 3px 7px;
  color: black;
  opacity: 1;
}

.product_image_container {
  margin: 0;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product_image {
  max-height: 220px;
  max-width: 198px;
  padding: 4px 0;
}

.product_card_footer {
  width: 100%;
  display: flex;
  padding: 7px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAF1EF;
  min-height: 100px;
}

.product_card_footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.product_name {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: #001813;
}

.product-btn-left {
  margin: 0;
  padding: 0 5px;
  font-weight: 700;
  font-size: 25px;
  /* line-height: 56px; */
  border-radius: 7px 0 0 7px;
  border: 0;
  vertical-align: middle;
  height: 30px;
  text-align: center;
  color: #F2FFFC;
  background-color: var(--main-color);
}
.product-btn-rigth {
  margin: 0;
  padding: 0 5px;
  font-weight: 700;
  font-size: 25px;
  /* line-height: 56px; */
  border-radius: 0 7px 7px 0;
  border: 0;
  vertical-align: middle;
  height: 30px;
  text-align: center;
  color: #F2FFFC;
  background-color: var(--main-color);
}

.product_quantity {
  margin: 0;
  height: 18px;
  width: 30px;
  background: #FFFFFF;
  /* #001813 */
  border: 1px solid white; 
  border-radius: 0px;
  text-align: center;
  box-shadow: none;
}