:root {

  --main-color: #036b52;

  --logout: #056cf9;

  --user: #320d88;

  --selected: #2fc18c;
}

.product_card {
  border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 200px;
}

.product_price {
  align-items: center;
  background-color: #f2fffc4a;
  border-radius: 7px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  left: 10px;
  position: absolute;
  top: 10px;
  width: auto;
}

.product_price span {
  color: black;
  opacity: 1;
  padding: 3px 7px;
}

.product_image_container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 220px;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.product_image {
  max-height: 220px;
  max-width: 198px;
  padding: 4px 0;
}

.product_card_footer {
  align-items: center;
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  padding: 7px 0;
  width: 100%;
}

.product_card_footer div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
}

.product_name {
  color: #001813;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  text-align: center;
}

.product-btn-left {
  background-color: var(--main-color);
  border: 0;
  border-radius: 7px 0 0 7px;
  color: #f2fffc;
  font-size: 25px;
  font-weight: 700;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.product-btn-rigth {
  background-color: var(--main-color);
  border: 0;
  border-radius: 0 7px 7px 0;
  color: #f2fffc;
  font-size: 25px;
  font-weight: 700;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.product_quantity {
  background: white;
  border: 1px solid white;
  border-radius: 0;
  box-shadow: none;
  height: 18px;
  margin: 0;
  text-align: center;
  width: 30px;
}
