.total_tag {
  background-color: #036b52;
  border: 0;
  color: white;
  font-size: 30px;
  font-weight: 600;
  height: 50px;
  min-width: 300px;
  padding: 0 10px;
  text-align: center;
}

.total_tag:hover {
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.436);
}

.total_tag p {
  margin: 0;
}
