.customer-products {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
}

.card_shelf {
  margin: auto;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tag_shelf {
  bottom: +30px;
  position: fixed;
  right: +30px;
}
