.customer-products {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
}

.card_shelf {
  width: 100%;
  background-color: white;
  padding: 20px;
}

.tag_shelf {
  bottom: +30px;
  position: fixed;
  right: +30px;
}
